{% extends 'base.html' %} 

{% block head %}
<h1 class="center">This marks my first attempt at a website</h1>
<p class="large">Pretty cool stuff if I do say so my self</p>
<p class="smalll">Thanks so much PJ for your help thus and for the help going forward</p>
<p class="large smalll">I will try my best to go out and make something of myself LMAOOOOO</p>
<button class = "button" onclick = "myFunction()">Click Me</button>

<script src = "/static/js/main1.js"></script>
{% endblock %}

{% block body %} 
<h1>Template</h1>
{% endblock %}