body {
    margin: 0; 
    font-family: sans-serif; 

    background-color: black;
}

.center{
    margin: 50; 
    color: white
}

.large{
    font-size: 200%; 
    color: white
}

.smalll{
   text-align: center;
   color: white; 
}

.button{
    border-width: 15;
    border-color: black;
    background-color: grey;
    font-size: 18px; 
    position: absolute;
    text-align: center;
    cursor: pointer; 
    bottom: 10%;
    right: 10%; 

}