{% extends 'base.html' %} 

{% block head %}
<h1 class="center">This is my second page of the website</h1>
<p class="large">Here you can find out more about me</p>
<p class="smalll">This might take me a minute to load up so please be patient</p>
<p class="large smalll">I will try my best to go out and make something of myself LMAOOOOO</p>
<button class = "button" onclick = "anotherfunction()">Home</button>

<script src = "/static/js/main1.js"></script>
{% endblock %}

{% block body %}
<h1>Template</h1>
{% endblock %}